.Item {
    align-items: center;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    min-height: 110px;
    padding: 30px 15px;
    position: relative;
    width: 350px;
    overflow: hidden;

    .Item__completed {
        color: #20232949 ;
        font-size: 45px;
    }

    .Item__text {
        overflow: hidden;
        pointer-events: none;
        margin-right: 30px;
        user-select: none;
    }
}

.Item:hover, .Item:active, .Item:focus {
    background-color: rgb(255, 255, 201);
}

.Item--completed {
    .item__completed {
        color: rgb(95, 241, 197) ;
        font-size: 45px;
    }
}

.Item--completed p{
    text-decoration: line-through;
}
