.Item {
    align-items: center;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
    min-height: 120px;
    padding: 30px 15px;
    position: relative;
    max-width: 350px;
    width: 100%;
    overflow: hidden;

    .Item__completed {
        color: var(--color-gray);
        font-size: 45px;
    }

    .Item__text {
        overflow: hidden;
        pointer-events: none;
        margin-right: 30px;
    }
}

.Item:hover, .Item:active, .Item:focus {
    background-color: var(--color-yellow);
}

.Item--completed {
    .item__completed {
        color: var(--color-green);
        font-size: 45px;
    }
}

.Item--completed p{
    text-decoration: line-through;
}
