:root{
    --color-gray: #20232949;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-yellow: #FFFFC9;
    --color-green: #5FF1C5;
    --color-red: #c72424b3;

    --time-animation: .3s;
    --margin-bottom: 30px;
}
