:root{
    --color-gray: #20232949;
    --color-gray-dk: #20232963;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-orange: #ffaa3a;
    --color-yellow: #FFFFC9;
    --color-yellow-trans: #ffffc979;
    --color-green: #5FF1C5;
    --color-green-trans: #5ff1c594;
    --color-red: #c72424b3;
    --color-red-dark: #ed0e0ef5;
    --time-animation: .3s;
    --margin-bottom: 25px;
}
