.create-todo-button {
    background-color: rgb(95, 241, 197);
    border: none;
    border-radius: 50%;
    bottom: 30px;
    color: white;
    cursor: pointer;
    display: grid;
    font-size: 80px;
    font-weight: bolder;
    height: 80px;
    left: calc(100% - 110px);
    place-content: center;
    position: fixed;
    top: calc(100% - 120px);
    transition: all 0.1s ease-out;
    width: 80px;
}

.create-todo-button:focus {
  outline: none;
  box-shadow: none;
}

.create-todo-button:hover {
    transform: scale(110%);
}

