:root{
    --time-animation: .3s;
    --margin-bottom: 30px;
}

.fade-in {
    animation: fadeIn var(--time-animation ) forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.move-up {
    animation: moveUp var(--time-animation ) ease-in-out forwards;
}
@keyframes moveUp {
    from {
        transform: translateY(calc(100% + var(--margin-bottom)));
    }
    to {
        translate: 0%;
    }
}

.move-down {
    animation: moveDown var(--time-animation ) ease-in-out forwards;
}
@keyframes moveDown {
    from {
        transform: translateY(calc(-100% - var(--margin-bottom)));
    }
    to {
        translate: 0%;
    }
}


