* {
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  background: #F2F4F5;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

#root {
  margin: 0 24px;
  height: 100vh;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  width: 300px;
  height: auto;
}
