.Icon-svg {
    --size: 40px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    position: relative;
    width: var(--size);

    @media (width >= 768px) {
        --size: 30px;
        height: var(--size);
        min-height: var(--size);
        min-width: var(--size);
        width: var(--size);
    }
}

.Icon-svg:hover {
    cursor: pointer;

    .Icon-svg--hover-message {
        display: block;
    }
}

.Icon-svg:active,
.Icon-svg:focus {
    fill: var(--color-gray);

    .Icon-svg--hover-message {
        display: block;
        transition: all 0.2s ease-in;
    }
}

.Icon-svg svg {
    transition: all 0.2s ease-in;
}

.Icon-svg--delete {
    --size: 14px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    position: absolute;
    right: 10px;
    top: 5px;
    width: var(--size);
}

.Icon-svg--deleteAll {
    --size: 20px;
    display: inline-block;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    width: var(--size);
}

.Icon-svg--resetAll {
    --size: 23px;
    display: inline-block;
    margin-left: 4px;
    margin-top: 3px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    width: var(--size);
}

.Icon-svg--gray svg {
    fill: var(--color-gray);
}

.Icon-svg--green svg {
    fill: var(--color-green-trans);
}

.Icon-svg--red svg {
    fill: var(--color-red);
}

.Icon-svg--orange svg {
    fill: var(--color-orange);
}

.Icon-svg--blue svg {
    fill: var(--color-blue);
}


.Icon-svg--hover-green svg:hover {
    @media (width >= 768px) {
        fill: var(--color-green);
    }
}

.Icon-svg.Icon-svg--hover-red svg:hover {
    @media (width >= 768px) {
        fill: var(--color-red);
    }
}

.Icon-svg.Icon-svg--hover-blue-lt svg:hover {
    @media (width >= 768px) {
        fill: var(--color-blue-lt);
    }
}

.Icon-svg.Icon-svg--hover-orange svg:hover {
    @media (width >= 768px) {
        fill: var(--color-orange);
    }
}

.Icon-svg.Icon-svg--hover-red-dark svg:hover {
    fill: var(--color-red-dark);
}

.Icon-svg--hover-message {
    background-color: var(--color-yellow);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--color-black);
    display: none;
    font-size: 11px;
    font-weight: 600;
    max-width: 100px;
    padding: 4px;
    position: absolute;
    text-align: center;
    top: calc(100% + 10px);
    width: max-content;
    right: -10px;

    @media (width >= 768px) {
        left: 50%;
        transform: translateX(-50%);
    }
}

.Icon-svg--working {
    --size: 23px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    width: var(--size);
}

.Icon-svg--check {
    --size: 23px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    width: var(--size);
}
