.Icon-svg {
    --size: 40px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    width: var(--size);

    @media (width >= 768px) {
        --size: 30px;
        height: var(--size);
        min-height: var(--size);
        min-width: var(--size);
        width: var(--size);
    }
}

.Icon-svg:hover {
    cursor: pointer;
}

.Icon-svg svg{
    transition: all 0.2s ease-in;
}

.Icon-svg--delete {
    --size: 14px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    position: absolute;
    right: 10px;
    top: 5px;
    width: var(--size);
}

.Icon-svg--gray svg{
    fill: var(--color-gray);
}

.Icon-svg--green svg{
    fill: var(--color-green);
}

.Icon-svg--hover-green svg:hover{
    fill: var(--color-green);
}

.Icon-svg--hover-red svg:hover{
    fill: var(--color-red);
}

.Icon-svg--priorityUp, .Icon-svg--priorityDown{
    --size: 30px;
    bottom: 17px;
    height: var(--size);
    min-height: var(--size);
    min-width: var(--size);
    pointer-events: none;
    position: absolute;
    right: 8px;
    width: var(--size);

    @media (width >= 768px) {
        --size: 20px;
        height: var(--size);
        min-height: var(--size);
        min-width: var(--size);
        width: var(--size);
    }

    svg {
        pointer-events: none;
    }

    path{
        pointer-events: initial;
    }
}

.Icon-svg--priorityUp{
    bottom: 42px;

    @media (width >= 768px) {
        bottom: 33px;
    }
}
