.search {
    margin-bottom: 45px;
    text-align: center;
}

.search::placeholder {
    color: #A5A5A5;
    font-family: 'Montserrat';
    font-weight: 400;
}

.search__input {
    background-color: white;
    border-radius: 3px;
    border: solid 2.5px #1E1E1F;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: 42px;
    text-align: center;
    width: 250px;
}

